{% extends "base.html" %}
{% block content%}
        
        <form method="post">
            <ul>
            <label>
                <div><h3>Five most recent blog entries<h3></div>
            </ul>
        </form>

        <hr>

            {% for blog_entry in blog_entries %}
                <div class="post">
                        <div class="blog_entry-title"><a href="/blog/{{blog_entry.key().id()}}">{{ blog_entry.title}}</a></div>
                        <pre class="blog_entry-body">{{blog_entry.blog_entry}}</pre>
                </div>
            {% endfor %}

{% endblock %}
