{% extends "base.html" %}
{% block content%}
        <h2>Blog!</h2>
        <form method="post">
            <ul>
            <label>
                <div><h3><Five most recent blog entry<h3></div>
            </ul>
        </form>

        <hr>

            {% for blog_entry in blog_entries %}
                <div class="post">
                        <div class="blog_entry-title">{{blog_entry.title}}</div>
                        <pre class="blog_entry-body">{{blog_entry.blog_entry}}</pre>
                </div>
            {% endfor %}

{% endblock %}
