{% extends "base.html" %}
{% block content%}

        <form method="post">
            <ul>
            <label>
                <div><h3>Five most recent blog entries<h3></div>
            </ul>
        </form>

        <hr>

            {% for blog_entry in blog_entries %}
                <div class="post">
                        <div class="blog_entry-title"><h2><a href="/blog/{{blog_entry.key().id()}}">{{ blog_entry.title}}</a></h2></div>
                        <pre class="blog_entry-body">{{blog_entry.blog_entry}}</pre>
                </div>
                <br>
            {% endfor %}

            <p>
                {% if prev %}
                    <a href="/offset_pagination?offset={{ prev_offset }}">Previous</a>
                {% endif %}
                {% if next %}
                    <a href="/offset_pagination?offset={{ next_offset }}">Next</a>
                {% endif %}
            </p>

{% endblock %}
